numpy==1.24.4
tqdm==4.66.2
scikit-learn==1.4.2
matplotlib==3.7.5
pandas==2.0.3
seaborn==0.13.2
jupyter==1.0.0
plotly==5.22.0
black==24.4.2

# Calc metrics by myself
pydantic-core==2.20.1
pydantic==2.8.2
devtools==0.12.2
redis==5.0.1
python-dotenv==1.0.1

kaleido==0.2.1